.autocompleteWrapper {
  width: fit-content;
}

.autocomplete {
  width: 200px;
  margin: 0;
}

.autocompleteResult {
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 93px;
  top: 30px;
}

.noResults {
  margin: 10px 0;
  color: gray;
  padding-left: 3px;
}
