* {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.autocompleteWrapper {
  width: fit-content;
}

.autocomplete,
.autocompleteResult {
  width: 200px;
  box-sizing: border-box;
  border: 1px solid silver;
  background: #fff;
}

.autocomplete {
  outline: none;
  margin: 0;
}

.autocompleteResult {
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 93px;
}

.optionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.option {
  color: #000;

  &:nth-child(2n + 1) {
    background: #f6f6f6;
  }

  &:hover {
    background: #e5e5e5;
  }
}
.optionButton {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 4px;

  border: none;
  background: transparent;
}
